<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&display=swap" rel="stylesheet">
    <title>Cambur Deco</title>
</head>
<body>
        <header>
           
                <nav class="cabecera">
                    <ul>
                        <li><a href="*">Crear Cuenta</a></li>
                        <li><a href="*">Iniciar Sesión</a></li>
                        <li><a href="*">Carrito</a></li>
                    </ul>
                </nav>

                <div>
                        <img src="logo.jpg" alt="logo">
                </div>

                <nav class="cabecera">
                    <ul>
                        <li><a href="*">INICIO</a></li>
                        <li><a href="*">PRODUCTOS</a></li>
                        <li><a href="*">CONTACTO</a></li>
                        <li><a href="*">QUIENES SOMOS</a></li>
                    </ul>
                </nav>

                <div>
                    <img src="portada.jpg" alt="banner">
                </div>
           
        </header>

        <main>


        </main>

        <footer>


        </footer>

</body>
</html>