<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <title>Cambur Deco</title>
</head>
<body>
        <header>
           
            <div class="menu">
                    <nav class="botonera">
                        <ul>
                            <li><a href="/register">Crear Cuenta</a></li>
                            <li><a href="/login">Iniciar Sesión</a></li>
                            <li class="cart-float"><a href="/productCart">Carrito</a></li>
                        </ul>
            </div>

                <div id="logo-header">
                        <img src="logo1.jpg" alt="logo">
                </div>

                                <hr>

                <div class="central">
                        <nav class="botonera">
                            <ul>
                                <li><a href="/">INICIO</a></li>
                                <li><a href="/productDetail">PRODUCTOS</a></li>
                                <li><a href="#">CONTACTO</a></li>
                                <li><a href="#">QUIENES SOMOS</a></li>
                            </ul>
                        </nav>
                </div>
               
                                <hr>
        </header>

        <main>
            
            <div class="banner-portada">
                <img class="banner-contain" src="portada.jpg" alt="banner">
            </div>

            
        </main>

        

        <footer>
            <section>
                <h4>Camburdeco</h4>
                <nav>
                    <ul>
                        <li><a href="/">Inicio</a></li>
                        <li><a href="/">Quienes somos?</a></li>
                        <li><a href="/">Productos</a></li>
                        <li><a href="/">Ofertas</a></li>
                        <li><a href="/login">Iniciar sesión</a></li>
                        <li><a href="/register">Registrarse</a></li>                        
                        <li><a href="/productCart">Carrito de compras</a></li>
                        <li><a href="/">Contacto</a></li>
                    </ul>
                </nav>
            </section>
            <section>
                <h4>Seguinos</h4>
                <nav>
                    <ul>
                        <li><link rel="stylesheet" href="https://www.facebook.com/camburdeco"><i class="fab fa-facebook-f"> Facebook</i></li>
                        <li><link rel="stylesheet" href="https://www.instagram.com/camburdeco/"><i class="fab fa-instagram"> Instagram</i></li>
                    </ul>
                </nav>
            </section>
            <section>
                <h4>Newsletter</h4>
                <p>Subscribite ahora y recibí nuestras últimas promociones!</p>
                <input type="email" placeholder="Ingresá tu email" id="email_news" name="email_news"><button><i class="fas fa-paper-plane"></i></button>
            </section>
            <section>
                <h4>Contáctenos</h4>
                <p><i class="fas fa-phone-alt"></i> (+54) 221-4086143</p>
                <p><i class="far fa-envelope"></i> camburdeco@hotmail.com</p>
                <p><i class="far fa-clock"></i> Lunes a Viernes de 9 a 18:30 hs. Sábados de 10 a 14 hs.</p>
            </section>
            <div>
                <h5>Copyright® Camburdeco SAS. Todos los derechos reservados</h5>
            </div>
        </footer>

    </body>
</html>   