<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <title>Cambur Deco</title>
</head>
<body>
        <header>
           
            <nav class="barra-contain d-flex space-bet">
                        <div>                        
                            <a class="lin-vertical" href="/register">Crear Cuenta</a>
                            <a href="/login">Iniciar Sesión</a>
                        </div>  
                        <div class="last-item content-end">
                            <a href="/productCart">Mis Compras<i class="fas fa-shopping-cart"></i></a>
                        </div>
                     
            </nav>

            <div id="logo-header">

                        <img src="logo-chico.png" alt="logo">

            </div>
                               

            <nav class="menu-contain d-flex w-80">                        
                            
                                <a href="/">INICIO</a>
                                <a href="/productDetail">PRODUCTOS</a>
                                <a href="#">CONTACTO</a>
                                <a href="#">QUIENES SOMOS</a>                            
                        
            </nav>               
                               
        </header>

        <main>            
            
            <div class="banner-contain">

                    <img class="banner-portada" src="portada.jpg" alt="banner">

            </div>

            <div class="products w-80">

                <div class="product-title">                            
                                    <p>Productos Destacados</p>                           
                </div>

                <div class="d-flex">

                        <article class="product-card">
                                <img src="almendra1.jpg" alt="almendra">
                                <div class="product-detail">
                                <p class="product-tipe">Maceta</p>
                                <p class="product-name">Almendra</p>
                                <p class="product-price">$1111</p>
                                </div>

                        </article>
                        <article class="product-card">
                                <img src="gala.jpg" alt="gala">
                                <div class="product-detail">
                                <p class="product-tipe">Tipo</p>
                                <p class="product-name">Nombre</p>
                                <p class="product-price">$xxxx</p>
                            </div>

                        </article>
                        <article class="product-card">
                                <img src="cali.jpg" alt="cali">
                                <p class="product-tipe">Tipo</p>
                                <p class="product-name">Nombre</p>
                                <p class="product-price">$xxxx</p>

                        </article>
                        <article class="product-card">
                                <img src="laika.jpg" alt="laika">
                                <p class="product-tipe">Tipo</p>
                                <p class="product-name">Nombre</p>
                                <p class="product-price">$xxxx</p>

                        </article> 

                </div>


            </div>

            <div class="products w-80">

                <div class="d-flex">

                        <article class="product-card">
                                <img src="bono.gif" alt="almendra">
                                <div class="product-detail">
                                <p class="product-tipe">Tipo</p>
                                <p class="product-name">Nombre</p>
                                <p class="product-price">$xxxx</p>
                                </div>

                        </article>
                        <article class="product-card">
                                <img src="tino.jpg" alt="gala">
                                <div class="product-detail">
                                <p class="product-tipe">Tipo</p>
                                <p class="product-name">Nombre</p>
                                <p class="product-price">$xxxx</p>
                            </div>

                        </article>
                        <article class="product-card">
                                <img src="velas.jpg" alt="cali">
                                <p class="product-tipe">Tipo</p>
                                <p class="product-name">Nombre</p>
                                <p class="product-price">$xxxx</p>

                        </article>
                        <article class="product-card">
                                <img src="colgante.jpg" alt="laika">
                                <p class="product-tipe">Tipo</p>
                                <p class="product-name">Nombre</p>
                                <p class="product-price">$xxxx</p>

                        </article>
                </div>
                <div class="product-title all-products">
                       <a href="#">Ver todos los Productos</a>
                </div>


            </div>    

            
        </main>

        

        <footer>
            <section>
                <h4>Camburdeco</h4>
                <nav>
                    <ul>
                        <li><a href="/">Inicio</a></li>
                        <li><a href="/">Quienes somos?</a></li>
                        <li><a href="/">Productos</a></li>
                        <li><a href="/">Ofertas</a></li>
                        <li><a href="/login">Iniciar sesión</a></li>
                        <li><a href="/register">Registrarse</a></li>                        
                        <li><a href="/productCart">Carrito de compras</a></li>
                        <li><a href="/">Contacto</a></li>
                    </ul>
                </nav>
            </section>
            <section>
                <h4>Seguinos</h4>
                <nav>
                    <ul>
                        <li><link rel="stylesheet" href="https://www.facebook.com/camburdeco"><i class="fab fa-facebook-f"> Facebook</i></li>
                        <li><link rel="stylesheet" href="https://www.instagram.com/camburdeco/"><i class="fab fa-instagram"> Instagram</i></li>
                    </ul>
                </nav>
            </section>
            <section>
                <h4>Newsletter</h4>
                <p>Subscribite ahora y recibí nuestras últimas promociones!</p>
                <input type="email" placeholder="Ingresá tu email" id="email_news" name="email_news"><button><i class="fas fa-paper-plane"></i></button>
            </section>
            <section>
                <h4>Contáctenos</h4>
                <p><i class="fas fa-phone-alt"></i> (+54) 221-4086143</p>
                <p><i class="far fa-envelope"></i> camburdeco@hotmail.com</p>
                <p><i class="far fa-clock"></i> Lunes a Viernes de 9 a 18:30 hs. Sábados de 10 a 14 hs.</p>
            </section>
            <div>
                <h5>Copyright® Camburdeco SAS. Todos los derechos reservados</h5>
            </div>
        </footer>

    </body>
</html>   