<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Camburdeco</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="productDetail.css">
    </head>
    <body>
        <header>

        </header>
        <section id="detalleproducto">
            <div class="titulo">
                Detalle del producto
            </div>
            <img class="image" src="almendra1.jpg" alt="imagenproducto">
            <div class="infoproducto">
                <p class="tipoprod">Macetas</p>
                <p class="nombreprod">Almendra</p>
                <p class="precioprod"> $ 220,00.-</p>
            </div>
        </section>
        <footer>

        </footer> 
    </body>
</html>