<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Cambur Deco</title>
        <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet" href="productCart.css">
        <link rel="stylesheet" href="index.css">
    </head>
    <body>
        <header>
           
            <nav class="barra-contain d-flex space-bet">
                        <div>                        
                            <a class="lin-vertical" href="/register">Crear Cuenta</a>
                            <a href="/login">Iniciar Sesión</a>
                        </div>  
                        <div class="last-item content-end">
                            <a href="/productCart">Mis Compras<i class="fas fa-shopping-cart"></i></a>
                        </div>
                     
            </nav>

            <div id="logo-header">

                        <img src="logo-chico.png" alt="logo">

            </div>
                               

            <nav class="menu-contain d-flex w-80">                        
                            
                                <a href="/">INICIO</a>
                                <a href="/productDetail">PRODUCTOS</a>
                                <a href="#">CONTACTO</a>
                                <a href="#">QUIENES SOMOS</a>                            
                        
            </nav>               
                               
        </header>
        
        <main>
            <div class="banner-contain">

                <img class="banner-portada" src="portada.jpg" alt="banner">

            </div>

            <div id="carro" class="w-80 products">
                <div class="product-title">
                    <p>Carrito de Compras</p>
                </div>
                <section class="d-flex">
                    <div id="tabla" class="w-70">
                        <div class="b-bottom">
                            <div class="bar d-flex ">
                                <p class="tabla-carrito">PRODUCTO</p>
                                <p class="tabla-carrito">PRECIO</p>
                                <p class="tabla-carrito">CANTIDAD</p>
                                <p class="tabla-carrito">SUBTOTAL</p>
                                <div class="eliminar"></div>
                            </div>
                            <div class="m-5">
                                <article class="producto d-flex space-around a-center">
                                    <p class="tabla-carrito">Maceta Almendra</p>
                                    <p class="tabla-carrito">$.....</p>
                                    <p class="tabla-carrito"><input type="text" placeholder="1" class="i_cant"></p>
                                    <p class="tabla-carrito">$.....</p>
                                    <button type="button" class="eliminar"><i class="far fa-trash-alt"></i></buttom>
                                </article>
                                <article class="producto d-flex space-around a-center">
                                    <p class="tabla-carrito">Maceta gris</p>
                                    <p class="tabla-carrito">$.....</p>
                                    <p class="tabla-carrito"><input type="text" placeholder="1" class="i_cant"></p>
                                    <p class="tabla-carrito">$.....</p>
                                    <button type="button" class="eliminar"><i class="far fa-trash-alt"></i></buttom>
                                </article>
                            </div>            
                        </div>
                        <div class="d-flex space-bet">
                            <button type="button" class="boton"><i class="fas fa-angle-double-left"></i> Seguir comprando</button>
                            <button type="button" class="boton">Actualizar carro</button>
                        </div>
                    </div>
                    <div class="w-30">
                        <p class="bar t-center">TOTAL DE CARRO</p>
                        
                        <div>
                            subtotal y total
                        </div>
                        <div>
                            boton continuar
                        </div>
                        <div>
                            cupon con checklist
                        </div>
                    </dsiv>
                </section>

                <section class="d-flex">

                </section>
            </div>

        </main>


        <footer class="bg-footer m-15">
            <div class="d-flex menu-footer w-80 ">
                <div class="d-flex menu-footer2">
                    <section class="footer-section">
                        <h4>CAMBUR DECO</h4>
                        <nav class="submenu1">
                            <a href="/" class="t-bold">Inicio</a>
                            <a href="/">Quienes somos?</a>
                            <a href="/">Productos</a>                
                            <a href="/productCart">Carrito de compras</a>
                        </nav>
                    </section>
                    <section class=" footer-section">
                        <h4>NEWSLETTER</h4>
                        <div class="submenu2">
                            <p>Subscribite ahora y recibí nuestras últimas promociones!</p>
                            <form id="news" name="news" method="POST" class="d-flex pos-rel pad-t-b-10">
                                <input type="email" class="news-i" placeholder="Ingresá tu email" id="email_news" name="email_news">
                                <button type="submit" class="news-b pos-b"><i class="fas fa-paper-plane"></i></button>
                            </form>
                        </div>
                    </section>
                </div>
                <div class="d-flex menu-footer2">
                    <section class="footer-section">
                        <h4>CONTACTO</h4>
                        <div class="submenu3">
                            <p><i class="fas fa-phone-alt"></i> (+54) 221-4086143</p>
                            <p><i class="far fa-envelope"></i> camburdeco@hotmail.com</p>
                            <p><i class="far fa-clock"></i> Lunes a Viernes de 9 a 18:30 hs. Sábados de 10 a 14 hs.</p>
                        </div>
                    </section>
                    <section class=" footer-section">
                        <h4>NUESTRAS REDES</h4>
                        <nav class="submenu4">
                                <a rel="stylesheet" href="https://www.facebook.com/camburdeco"><i class="fab fa-facebook-f"></i> Facebook</a>
                                <a rel="stylesheet" href="https://www.instagram.com/camburdeco/"><i class="fab fa-instagram"></i> Instagram</a>
                        </nav>    
                    </section>
                </div>
            </div>
            <div id="copyright">
                <h5>Copyright® Camburdeco SAS. Todos los derechos reservados</h5>
            </div>
        </footer>
       

    
    </body>
</html>