<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Cambur Deco</title>
        <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet" href="productCart.css">
        <link rel="stylesheet" href="index.css">
    </head>
    <body>
        <header>
           
            <nav class="barra-contain d-flex space-bet">
                        <div>                        
                            <a class="lin-vertical" href="/register">Crear Cuenta</a>
                            <a href="/login">Iniciar Sesión</a>
                        </div>  
                        <div class="last-item content-end">
                            <a href="/productCart">Mis Compras<i class="fas fa-shopping-cart"></i></a>
                        </div>
                     
            </nav>

            <div id="logo-header">

                        <img src="logo-chico.png" alt="logo">

            </div>
                               

            <nav class="menu-contain d-flex w-80">                        
                            
                                <a href="/">INICIO</a>
                                <a href="/products">PRODUCTOS</a>
                                <a href="#">CONTACTO</a>
                                <a href="/quienes-somos">QUIÉNES SOMOS</a>                            
                        
            </nav>               
                               
        </header>
        
       

    
    </body>
</html>