<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="quienes-somos.css">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <title>Cambur Deco</title>
</head>
<body>
        <header>
           
            <nav class="barra-contain d-flex space-bet">
                        <div>                        
                            <a class="lin-vertical" href="/register">Crear Cuenta</a>
                            <a href="/login">Iniciar Sesión</a>
                        </div>  
                        <div class="last-item content-end">
                            <a href="/productCart">Mis Compras<i class="fas fa-shopping-cart"></i></a>
                        </div>
                     
            </nav>

            <div id="logo-header">

                        <img src="logo-chico.png" alt="logo">

            </div>
                               

            <nav class="menu-contain d-flex w-80">                        
                            
                                <a href="/">INICIO</a>
                                <a href="/products">PRODUCTOS</a>
                                <a href="#">CONTACTO</a>
                                <a href="/quienes-somos">QUIÉNES SOMOS</a>                            
                        
            </nav>
            
        <main class="w-80">

                <div class="separador-bananas">  </div>  

                <div class="title-container">
                        <p class="title-screen">QUIÉNES SOMOS</p>
                </div>

                <div>
                        <ul>
                            <li class="item1">Mi nombre es Abril y tengo 22 años</li>
                            <li>Soy estudiante de la carrera de diseño industrial en la UNLP, 
                                donde nació hace ya unos años este emprendimiento. Hoy me encuentro
                                cursando mi último año y con ganas de acercarles muchas más novedades</li>
                            <li>Soy fan de aprender todo tipo de artesanias, pero el cemento me conquistó
                                 y encontré en él una salida laboral original</li>
                            <li>Mis alianzas con otros emprendimientos amigos me permiten también, combinar 
                                este material con plantas, madera y hierro</li>
                            <li>Te invito a conocerme a través de mis productos!</li>
                        </ul>
                </div>

                <div class="baner">
                        <img src="baner.jpg" alt="baner">
                </div>


        </main>    
                               
        </header>

</body>
</html>