<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="quienes-somos.css">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <title>Cambur Deco</title>
</head>
<body>
        <header>
           
            <nav class="barra-contain d-flex space-bet">
                        <div>                        
                            <a class="lin-vertical" href="/register">Crear Cuenta</a>
                            <a href="/login">Iniciar Sesión</a>
                        </div>  
                        <div class="last-item content-end">
                            <a href="/productCart">Mis Compras<i class="fas fa-shopping-cart"></i></a>
                        </div>
                     
            </nav>

            <div id="logo-header">

                        <img src="logo-chico.png" alt="logo">

            </div>
                               

            <nav class="menu-contain d-flex w-80">                        
                            
                                <a href="/">INICIO</a>
                                <a href="/products">PRODUCTOS</a>
                                <a href="#">CONTACTO</a>
                                <a href="/quienes-somos">QUIÉNES SOMOS</a>                            
                        
            </nav>
        </header>    
        <main class="w-80">

                <div class="separador-bananas">  </div>  

                <div class="title-container">
                        <p class="title-screen">QUIÉNES SOMOS</p>
                </div>

                <div>
                        <ul>
                            <li class="item1">Mi nombre es Abril y tengo 22 años</li>
                            <li>Soy estudiante de la carrera de diseño industrial en la UNLP, 
                                donde nació hace ya unos años este emprendimiento. Hoy me encuentro
                                cursando mi último año y con ganas de acercarles muchas más novedades</li>
                            <li>Soy fan de aprender todo tipo de artesanias, pero el cemento me conquistó
                                 y encontré en él una salida laboral original</li>
                            <li>Mis alianzas con otros emprendimientos amigos me permiten también, combinar 
                                este material con plantas, madera y hierro</li>
                            <li>Te invito a conocerme a través de mis productos!</li>
                        </ul>
                </div>

                <div class="baner">
                        <img src="baner.jpg" alt="baner">
                </div>

        
        </main>    
        <footer class="bg-footer m-15">
            <div class="d-flex menu-footer w-80 ">
                <div class="d-flex menu-footer2">
                    <section class="footer-section">
                        <h4>CAMBUR DECO</h4>
                        <nav class="submenu1">
                            <a href="/" class="t-bold">Inicio</a>
                            <a href="/">Quienes somos?</a>
                            <a href="/">Productos</a>                
                            <a href="/productCart">Carrito de compras</a>
                        </nav>
                    </section>
                    <section class=" footer-section">
                        <h4>NEWSLETTER</h4>
                        <div class="submenu2">
                            <p>Subscribite ahora y recibí nuestras últimas promociones!</p>
                            <form id="news" name="news" method="POST" class="d-flex pos-rel pad-t-b-10">
                                <input type="email" class="news-i" placeholder="Ingresá tu email" id="email_news" name="email_news">
                                <button type="submit" class="news-b pos-b"><i class="fas fa-paper-plane"></i></button>
                            </form>
                        </div>
                    </section>
                </div>
                <div class="d-flex menu-footer2">
                    <section class="footer-section">
                        <h4>CONTACTO</h4>
                        <div class="submenu3">
                            <p><i class="fas fa-phone-alt"></i> (+54) 221-4086143</p>
                            <p><i class="far fa-envelope"></i> camburdeco@hotmail.com</p>
                            <p><i class="far fa-clock"></i> Lunes a Viernes de 9 a 18:30 hs. Sábados de 10 a 14 hs.</p>
                        </div>
                    </section>
                    <section class=" footer-section">
                        <h4>NUESTRAS REDES</h4>
                            <nav class="submenu4">
                                <a rel="stylesheet" href="https://www.facebook.com/camburdeco"><i class="fab fa-facebook-f"></i> Facebook</a>
                                <a rel="stylesheet" href="https://www.instagram.com/camburdeco/"><i class="fab fa-instagram"></i> Instagram</a>
                            </nav>    
                    </section>
                </div>
            </div>
            <div id="copyright">
                <h5>Copyright® Camburdeco SAS. Todos los derechos reservados</h5>
            </div>
        </footer>                      
        

</body>
</html>