<footer class="bg-footer m-15">
    <div class="d-flex menu-footer w-80 ">
        <div class="d-flex menu-footer2">
            <section class="footer-section">
                <h4>CAMBUR DECO</h4>
                <nav class="submenu1">
                    <a href="/" class="t-bold">Inicio</a>
                    <a href="/users/quienes-somos">Quienes somos?</a>
                    <a href="/products">Productos</a>
                    <a href="/products/productCart">Carrito de compras</a>
                </nav>
            </section>
            <section class=" footer-section">
                <h4>NEWSLETTER</h4>
                <div class="submenu2">
                    <p>Subscribite ahora y recibí nuestras últimas promociones!</p>
                    <form id="news" name="news" method="POST" class="d-flex pos-rel pad-t-b-10">
                        <input type="email" class="news-i" placeholder="Ingresá tu email" id="email_news"
                            name="email_news">
                        <button type="submit" class="news-b pos-b"><i class="fas fa-paper-plane"></i></button>
                    </form>
                </div>
            </section>
        </div>
        <div class="d-flex menu-footer2">
            <section class="footer-section">
                <h4>CONTACTO</h4>
                <div class="submenu3">
                    <p><i class="fas fa-phone-alt"></i> (+54) 221-4086143</p>
                    <p><i class="far fa-envelope"></i> camburdeco@hotmail.com</p>
                    <p><i class="far fa-clock"></i> Lunes a Viernes de 9 a 18:30 hs. Sábados de 10 a 14 hs.</p>
                </div>
            </section>
            <section class=" footer-section">
                <h4>NUESTRAS REDES</h4>
                <nav class="submenu4">
                    <a rel="stylesheet" href="https://www.facebook.com/camburdeco"><i class="fab fa-facebook-f"></i>
                        Facebook</a>
                    <a rel="stylesheet" href="https://www.instagram.com/camburdeco/"><i class="fab fa-instagram"></i>
                        Instagram</a>
                </nav>
            </section>
        </div>
    </div>
    <div id="copyright">
        <h5>Copyright® Camburdeco SAS. Todos los derechos reservados</h5>
    </div>
</footer>