<header>
    <nav class="barra-contain d-flex space-bet">
        <div>
           				
            <a class="lin-vertical" href="/users/register">Crear Cuenta</a>
            
                <a class="lin-vertical" href="/users/login">Iniciar Sesión</a>
              
               
                    <a class="lin-vertical" href="/products/create">Agregar Productos</a>
                    <a class="lin-vertical" href="/products/edit">Modificar Productos</a>
                    <form action="/products/?_method=DELETE" method="POST" class="form-inline">
                        <button class="button-delete" type="submit">Eliminar Productos</button>
                    </form>
                
                  
        </div>
       
        <div class="last-item content-end">
            <a href="/carrito">Mis Compras<i class="fas fa-shopping-cart"></i></a>
        </div>
    </nav>
    <div id="logo-header">
        <img src="/images/logo-chico.png" alt="logo">
    </div>
    <nav class="menu-contain d-flex w-80">
        <a href="/">INICIO</a>
        <a href="/products">PRODUCTOS</a>
        <a href="/users/contact">CONTACTO</a>
        <a href="/users/quienes-somos">QUIÉNES SOMOS</a>
    </nav>
</header>