<header>
    <nav class="barra-contain d-flex space-bet">
        <div>
            <a class="lin-vertical" href="/users/register">Crear Cuenta</a>
            <a href="/users/login">Iniciar Sesión</a>
        </div>
        <div class="last-item content-end">
            <a href="/products/productCart">Mis Compras<i class="fas fa-shopping-cart"></i></a>
        </div>
    </nav>
    <div id="logo-header">
        <img src="/images/logo-chico.png" alt="logo">
    </div>
    <nav class="menu-contain d-flex w-80">
        <a href="/">INICIO</a>
        <a href="/products">PRODUCTOS</a>
        <a href="/users/contact">CONTACTO</a>
        <a href="/users/quienes-somos">QUIÉNES SOMOS</a>
    </nav>
</header>