<header>
    <nav class="barra-contain d-flex space-bet">
        <div class="fg1 d-flex">

            <% if(locals.user){  %>
            <div class="options-user">
                <a class="lin-vertical" href="/users/perfil/<%= locals.ides %>">Hola <%= locals.user %>!</a>
                <form class="form-inline boton-header" action="/users/logout" method="POST">
                    <button class="button-delete">Cerrar Sesión</button>
                </form>
            </div>
            <% if (locals.tipoUsuario == 'ADMIN') { %>
            <ul class="d-flex">
                <li class = "options-user">
                    <a class="lin-vertical lin-vertical-izquierda" href="/products/create">Agregar Productos</a>
                </li>
                <% if (data == 1) { %>
                <li  class = "options-user">
                    <a class="lin-vertical" href="/products/<%= ids %>/edit">Modificar Productos</a>
                </li>

                <li  class = "options-user">
                    <form action="/products/<%= ids %>?_method=DELETE" method="POST" class="form-inline">
                        <button class="button-delete" type="submit">Eliminar Productos</button>
                    </form>
                </li>
            </ul>
            <% } %>
            <% } %>
            <% } else { %>
            <a class="lin-vertical" href="/users/register">Crear Cuenta</a>

            <a href="/users/login">Iniciar Sesión</a>

            <% } %>

        </div>

        <div class=" options-user last-item content-end">
            <a href="/carrito">Mis Compras<i class="fas fa-shopping-cart"></i></a>
        </div>
    </nav>
    <div id="logo-header">
        <img src="/images/logo-chico.png" alt="logo">
    </div>
    <nav class="menu-contain d-flex w-80">
        <a href="/">INICIO</a>
        <a href="/products">PRODUCTOS</a>
        <a href="/users/contact">CONTACTO</a>
        <a href="/users/quienes-somos">QUIÉNES SOMOS</a>
    </nav>
</header>