<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/index.css">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <title>Cambur Deco</title>
</head>
<body>
        <header>
           
            <nav class="barra-contain d-flex space-bet">
                        <div>                        
                            <a class="lin-vertical" href="/users/register">Crear Cuenta</a>
                            <a href="/users/login">Iniciar Sesión</a>
                        </div>  
                        <div class="last-item content-end">
                            <a href="/products/productCart">Mis Compras<i class="fas fa-shopping-cart"></i></a>
                        </div>
                     
            </nav>

            <div id="logo-header">

                        <img src="/images/logo-chico.png" alt="logo">

            </div>
                               

            <nav class="menu-contain d-flex w-80">                        
                            
                                <a href="/">INICIO</a>
                                <a href="/products">PRODUCTOS</a>
                                <a href="/users/contact">CONTACTO</a>
                                <a href="/users/quienes-somos">QUIÉNES SOMOS</a>                            
                        
            </nav>               
                               
        </header>
        <main>
                              
            <div class="banner-contain">

                    <img class="banner-portada" src="/images/portada.jpg" alt="banner">

            </div>


        
        <div id="fondo-bananas">  

            <div class="products w-80">

                <div class="product-title">                            
                                    <p>Productos Destacados</p>                           
                </div>

                <div class="d-flex">

                        <article class="product-card">
                            <a href="/products/productDetail">
                                <img src="/images/almendra1.jpg" alt="almendra">
                                <p class="product-tipe">Maceta</p>
                                <p class="product-name">Almendra</p>
                                <p class="product-price">$1111</p>
                            </a>
                        </article>
                        <article class="product-card">
                            <a href="/productDetail">
                                <img src="/images/gala.jpg" alt="gala">
                                <p class="product-tipe">Tipo</p>
                                <p class="product-name">Nombre</p>
                                <p class="product-price">$xxxx</p>
                            </a>
                        </article>
                        <article class="product-card">
                            <a href="/productDetail">
                                <img src="/images/cali.jpg" alt="cali">
                                <p class="product-tipe">Tipo</p>
                                <p class="product-name">Nombre</p>
                                <p class="product-price">$xxxx</p>
                            </a>
                        </article>
                        <article class="product-card">
                            <a href="/productDetail"></a>
                                <img src="/images/laika.jpg" alt="laika">
                                <p class="product-tipe">Tipo</p>
                                <p class="product-name">Nombre</p>
                                <p class="product-price">$xxxx</p>
                        </a>
                        </article> 

                </div>


            </div>

            <div class="products w-80">

                <div class="d-flex">

                        <article class="product-card">
                            <a href="/productDetail">
                                <img src="/images/bono.gif" alt="almendra">
                                <p class="product-tipe">Tipo</p>
                                <p class="product-name">Nombre</p>
                                <p class="product-price">$xxxx</p>
                            </a>
                            
                        </article>
                        <article class="product-card">
                            <a href="/productDetail">
                                <img src="/images/tino.jpg" alt="gala">
                                <p class="product-tipe">Tipo</p>
                                <p class="product-name">Nombre</p>
                                <p class="product-price">$xxxx</p>
                            </a>

                        </article>
                        <article class="product-card">
                            <a href="/productDetail">
                                <img src="/images/velas.jpg" alt="cali">
                                <p class="product-tipe">Tipo</p>
                                <p class="product-name">Nombre</p>
                                <p class="product-price">$xxxx</p>
                            </a>
                        </article>
                        <article class="product-card">
                            <a href="/productDetail">
                                <img src="/images/colgante1.jpg" alt="laika">
                                <p class="product-tipe">Tipo</p>
                                <p class="product-name">Nombre</p>
                                <p class="product-price">$xxxx</p>
                            </a>
                        </article>
                </div>
                <div class="product-title all-products">
                       <a href="/products">Ver todos los Productos</a>
                </div>


            </div>
            <div class="products w-80">

                <div class="title-container">
                    <p class="title-screen"><i class="fab fa-instagram"></i>camburdeco</p>
                </div>

                <div class="d-flex insta">

                    <article class="product-insta">
                        <a href="https://www.instagram.com/p/CExdtOEMtxB" target="_blank" class="instafeed-link" aria-label="Publicación de Instagram de cambur deco">
                        <img src="https://instagram.faep9-2.fna.fbcdn.net/v/t51.2885-15/e35/118973044_141836524049207_6567014643013998589_n.jpg?_nc_ht=instagram.faep9-2.fna.fbcdn.net&amp;_nc_cat=111&amp;_nc_ohc=EmMiNQWaRQMAX8l_Aog&amp;_nc_tp=18&amp;oh=d4e66a1a29f196d7a4adb3aeb71eb955&amp;oe=5FA0CBED"></a>

                    </article>
                    <article class="product-insta">
                        <a href="https://www.instagram.com/p/CBmEpl-n0ph" target="_blank" class="instafeed-link" aria-label="Publicación de Instagram de cambur deco">
                        <img src="https://instagram.faep9-2.fna.fbcdn.net/v/t51.2885-15/sh0.08/e35/c0.135.1080.1080a/s640x640/104180862_109068464073378_7703633411522655064_n.jpg?_nc_ht=instagram.faep9-2.fna.fbcdn.net&amp;_nc_cat=106&amp;_nc_ohc=xDmZrG5crYcAX8XzgHK&amp;oh=18226a19056ff115ebc6606febdb6807&amp;oe=5FA2F627"></a>
                       

                    </article>
                    <article class="product-insta">
                        <a href="https://www.instagram.com/p/CE5K_F9MqEU" target="_blank" class="instafeed-link" aria-label="Publicación de Instagram de cambur deco">
                            <img src="https://instagram.faep9-2.fna.fbcdn.net/v/t51.2885-15/sh0.08/e35/c0.121.1080.1080a/s640x640/118883337_2743506845896409_8196325330386517733_n.jpg?_nc_ht=instagram.faep9-2.fna.fbcdn.net&amp;_nc_cat=105&amp;_nc_ohc=6fK61EyKvsgAX_u7gUQ&amp;oh=467d41784114ebf147730862784040f6&amp;oe=5FA1CADF"></a>
                        
                    </article>
                    <article class="product-insta">
                        <a href="https://www.instagram.com/p/CBeWUS0HXXk" target="_blank" class="instafeed-link" aria-label="Publicación de Instagram de cambur deco">
                        <img src="https://instagram.faep9-1.fna.fbcdn.net/v/t51.2885-15/sh0.08/e35/c0.7.1080.1080a/s640x640/103825864_260549748508488_8761455747797282761_n.jpg?_nc_ht=instagram.faep9-1.fna.fbcdn.net&amp;_nc_cat=100&amp;_nc_ohc=kO3dn9MpLwkAX-RSJ9g&amp;oh=f212682b78566b260e40dd7528657732&amp;oe=5FA0F547"></a>
                        
                    </article>
                </div>
                
                <div class="d-flex">
                        <div class="pay-card">
                            <p><i class="fas fa-dollar-sign"></i>PROMOCIONES</p>
                            <p>por pedidos mayoristas</p>
                        </div>
                        <div class="pay-card">
                            <p><i class="far fa-credit-card"></i>MERCADO PAGO</p>
                            <P>todos los medios de pago</P>
                        </div>
                        <div class="pay-card">
                            <p><i class="fas fa-lock"></i>SITIO SEGURO</p>
                            <p>protegemos tus datos</p>
                        </div>
                </div>
                
            </div>    

        </div>      
        </main>

        <footer class="bg-footer m-15">
            <div class="d-flex menu-footer w-80 ">
                <div class="d-flex menu-footer2">
                    <section class="footer-section">
                        <h4>CAMBUR DECO</h4>
                        <nav class="submenu1">
                            <a href="/" class="t-bold">Inicio</a>
                            <a href="/quienes-somos">Quienes somos?</a>
                            <a href="/products">Productos</a>                
                            <a href="/productCart">Carrito de compras</a>
                        </nav>
                    </section>
                    <section class=" footer-section">
                        <h4>NEWSLETTER</h4>
                        <div class="submenu2">
                            <p>Subscribite ahora y recibí nuestras últimas promociones!</p>
                            <form id="news" name="news" method="POST" class="d-flex pos-rel pad-t-b-10">
                                <input type="email" class="news-i" placeholder="Ingresá tu email" id="email_news" name="email_news">
                                <button type="submit" class="news-b pos-b"><i class="fas fa-paper-plane"></i></button>
                            </form>
                        </div>
                    </section>
                </div>
                <div class="d-flex menu-footer2">
                    <section class="footer-section">
                        <h4>CONTACTO</h4>
                        <div class="submenu3">
                            <p><i class="fas fa-phone-alt"></i> (+54) 221-4086143</p>
                            <p><i class="far fa-envelope"></i> camburdeco@hotmail.com</p>
                            <p><i class="far fa-clock"></i> Lunes a Viernes de 9 a 18:30 hs. Sábados de 10 a 14 hs.</p>
                        </div>
                    </section>
                    <section class=" footer-section">
                        <h4>NUESTRAS REDES</h4>
                            <nav class="submenu4">
                                <a rel="stylesheet" href="https://www.facebook.com/camburdeco"><i class="fab fa-facebook-f"></i> Facebook</a>
                                <a rel="stylesheet" href="https://www.instagram.com/camburdeco/"><i class="fab fa-instagram"></i> Instagram</a>
                            </nav>    
                    </section>
                </div>
            </div>
            <div id="copyright">
                <h5>Copyright® Camburdeco SAS. Todos los derechos reservados</h5>
            </div>
        </footer>
       

    </body>
</html>   