<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("partials/head") %>
    <link rel="stylesheet" href="/stylesheets/quienes-somos.css">
</head>

<body>
    <%- include("partials/header") %>
    <main class="w-80">

        <div class="separador-bananas"> </div>

        <div class="title-container">
            <p class="title-screen">QUIÉNES SOMOS</p>
        </div>

        <div>
            <ul>
                <li class="item1">Mi nombre es Abril y tengo 22 años</li>
                <li>Soy estudiante de la carrera de diseño industrial en la UNLP,
                    donde nació hace ya unos años este emprendimiento. Hoy me encuentro
                    cursando mi último año y con ganas de acercarles muchas más novedades</li>
                <li>Soy fan de aprender todo tipo de artesanias, pero el cemento me conquistó
                    y encontré en él una salida laboral original</li>
                <li>Mis alianzas con otros emprendimientos amigos me permiten también, combinar
                    este material con plantas, madera y hierro</li>
                <li>Te invito a conocerme a través de mis productos!</li>
            </ul>
        </div>

        <div class="baner">
            <img src="/images/baner.jpg" alt="baner">
        </div>


    </main>
    <%- include("partials/footer") %>


</body>

</html>