:root {
        --main-color: #ffdb00;
        --bkgd-color: url(/images/bananas-pastel.png);
        --bkgd-campo-color: #fff; 
        --shad-color: #96968d ;
        --text-color: #17cff3; 
        --terc-color: #e72379;
    }
    
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
       
    }

body {background-image: url("/images/fondo-bananas.png");}

form {
        text-align: center;
        width: 80%;
        margin: 5% auto;
        padding: 3%;
}

label {
        font-size: 20px;
        font-weight: bold;
}

p {margin: 2%;}

.errors{
    color:  rgba(220, 20, 103);
    font-size: 0.9em;
    padding: 5px;
    margin: 0%;
}

.ingresar {
    margin: 2%;
    background-color: var(--main-color);
    border: none;
    border-radius: 10px;
    height: 5;
    padding: 10px;
} 

.ingresar:hover{
    border-color: #bb3b73;
}


.enviar{
        width: 60%;
        flex-grow: 1;
        flex-basis: 0;
        margin: 5px;
        border: none;
        height: 30px;
        border-radius: 5px;
        box-shadow: 5px 5px 5px var(--shad-color);
        font-family: 'Comfortaa', cursive;   
        background-color: gold;
        font-size: 10px;
    }
    
.enviar:hover{
        font-size: 75%;
        background-color: rgb(255, 225, 55);
    } 

.reset{
        width: 60%;
        flex-grow: 1;
        flex-basis: 0;
        margin: 5px;
        border: none;
        height: 30px;
        border-radius: 5px;
        box-shadow: 5px 5px 5px var(--shad-color);
        font-family: 'Comfortaa', cursive;   
        background-color: #e72379;
        font-size: 10px;
    }
    
.reset:hover{
        font-size: 75%;
        background-color: #bb3b73;
    }
.ingreso {
        width: 25%;
        margin: 10px 0px;
        border: none;
        height: 30px;
        border-radius: 5%;
        box-shadow: 5px 5px 5px var(--shad-color);
        padding: 5px;
    }
.image-edit {
    height: 200px;
    margin-bottom: 20px;
}

.img-edit {
    height: 100%;
}

@media (min-width:600px){
    .ingresar {
        width: 90%;
    }
}

@media (min-width:1024px){
    .ingresar {
        width: 60%;
    }
}

/* Estilos Validator */
.is-error {
    border: 1px solid red;
}