:root {
    --main-color: #ffdb00;
    --bkgd-color: url(fondo-bananas.png);
    --bkgd-campo-color: #fff; 
    --shad-color: #96968d ;
    --text-color: #17cff3; 
    --terc-color: #e72379;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

.errors{
    color:  rgba(220, 20, 103);
    font-size: 0.8em;
    padding: 5px;
}

#login {
    margin: 3% 3%;
    padding: 3%;
    background-image: var(--bkgd-color);
    background-size: contain;
}

#login .titulo {
    text-align: center;
    font-size: 3em;
    font-weight: bold;
    color: var(--text-color);
    margin-bottom: 20px;
}

#login .logininterior {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.logininterior .formulario {
    border: 1px solid var(--main-color);
    background-color: white;
    padding: 5%;
}

.logininterior .ingreso, .boton {
    width: 100%;
    margin: 10px 0px;
    border: none;
    height: 30px;
    border-radius: 5%;
    box-shadow: 5px 5px 5px var(--shad-color);
    padding: 5px;
}

.logininterior .ingreso {
    background-color: var(--bkgd-campo-color);
}

.logininterior .boton {
    background-color: var(--main-color);
}

.logininterior .recupero {
    text-align: center;
    margin-top: 20px;
}
.recupero a {
    color: var(--terc-color);
}

.logininterior .vista {
    width: 50%;
    border-radius: 5%;
}

@media (max-width: 599px) {
    .logininterior .vista {
        display: none;
    }
    #login .titulo{font-size: 2em;}
}

@media (min-width: 600px) {
    .logininterior .vista {
        width: 25%;
    }
    .logininterior .formulario{width: 50%;}
}

