body {background-image: url("/images/fondo-bananas.png");}

form {
        text-align: center;
        width: 80%;
        margin: 5% auto;
        border: solid 3px yellow;
        padding: 3%;
}

label {
        font-size: 20px;
        font-weight: bold;
}

.enviar {
            background-color: green;
            color: white;
            font-size: 20px;
}

.reset { font-size: 15px;
         background-color: red;
         color: white;   
}

