.separador-bananas {
    height: 100px;
    background-image: url(/images/banana1.jpg);
    background-size: contain;
    border-bottom: solid yellow 1px;

}

.title-container .title-screen {                
                margin-top: 30px;
                margin-bottom: 25px;
                border: 1px solid yellow;
                padding: 10px 25px;
                font-size: 18px;                
                display: inline-block;
}

ul {margin-top: 30px;
    font-size: 20px;
    text-align: justify;
    line-height: 1.2;
}
.baner img {width: 100%;
            margin-top: 30px;
            border: solid 2px #FF1493;
}

@media all and (min-width: 600px) and (max-width: 1023px){

.separador-bananas{background-repeat: round;}

}


@media all and (max-width: 599px){ 
    ul {margin-top: 10px;
    font-size: 15px;}

   .separador-bananas{background-repeat: round;}

}