<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("../partials/head") %>
        <link rel="stylesheet" href="/stylesheets/login.css">
    </head>
    <body>
        <%- include("../partials/header") %>
        <section id="login">
            <div class="titulo">
                RECUPERAR CONTRASEÑA
            </div>
            <article class="logininterior">
                <div class="formulario">
                    <form action="/" method="POST">
                        <input class="ingreso" type="email" id="email" name="email" placeholder="e-mail">
            
                        <p><input class="boton" type="submit" value="Recuperar contraseña"></p>
                    </form>
                </div>
                <img class="vista" src="/images/bolsas.jpg" alt="bolsacamburdeco">
            </article>
        </section>
        <%- include("../partials/footer") %>
    </body>
</html>