* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Comfortaa', cursive;    
}

header {
    width: 100%;     
    margin-bottom: 10px;
}

a {
    text-decoration: none;    
    color: black;
}

input:focus {
    outline: 0;
}

.d-flex { display: flex;}
.content-end {justify-content: end;}
.space-bet { justify-content: space-between;}
.w-80 {width: 80%; margin:5px auto;}

.barra-contain {
       background-color: gold;
       padding: 10px;
       font-size: 10px;     
}

.barra-contain a {
    color: white;
    padding: 5px;
}
.lin-vertical {
    border-right: solid 1px;
}

.barra-contain .last-item a:last-child{
    color: black;
    font-size: 14px;
}
          
#logo-header {    
            text-align: center;
            height: 200px;
            margin: 10px;                               
}

#logo-header img {
            height: 100%;
}

.menu-contain {     
        padding: 10px;
        border-top: black solid 2px;
        border-bottom: black solid 2px;
        justify-content: center;              
}

.menu-contain a {
    padding: 10px;
    font-size: 18px;
}

.menu-contain a:hover{
        color: gold;
}


/* MAIN */

.products {
    background-image: url("fondo-bananas.png");
    
}
.banner-contain {
            width: 80%;            
            margin: 15px auto 20px auto;                  
}

.banner-portada {
            width: 100%;            
}

.product-title {       
        font-size: 20px;
        text-align: center;
        margin-bottom: 5px;
}

                   
.products img {
    width: 100%;
    margin-bottom: 15px;
}

.products .product-card {max-width: 25%;
                        margin: 1%;
                        border: solid yellow 1px;
                        padding: 5px
}
.products .product-card:hover{border: solid yellow;}
.products .product-card:first-child{margin-left: 0;}
.products .product-card:last-child{margin-right: 0;}

.products .product-card .product-detail {
                align-items: flex-end;
}

.product-tipe{
              text-align: center;
              font-size: 14px;
              font-weight: bolder;  
}
.product-name{
              text-align: center;
              font-size: 18px;
              font-weight: bold;  
}
.product-price{
               text-align: center;
               font-size: 14px;
}

.all-products { margin-top: 20px;
                padding: 5px;               
}
.all-products a{  border: solid;
                                 border-radius: 10px;
                                 padding: 5px;
}
.all-products a:hover{border: solid yellow;}

/* MAIN */ 
