:root {
    --main-color: #ffdb00;
    --bkgd-color: url(fondo-bananas.png);
    --bkgd-campo-color: #fff; 
    --shad-color: #96968d ;
    --text-color: #17cff3; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

#registro {
    margin: 3% 3%;
    padding: 3%;
    background-image: var(--bkgd-color);
    background-size: contain;
}

#registro .titulo {
    text-align: center;
    font-size: 3em;
    font-weight: bold;
    color: var(--text-color);
    margin-bottom: 20px;
}

#registro .registrointerior {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.registrointerior .formulario {
    border: 1px solid var(--main-color);
    background-color: white;
    padding: 5%;
    width: 60%;
}

.registrointerior .ingreso, .boton {
    width: 100%;
    margin: 10px 0px;
    border: none;
    height: 30px;
    border-radius: 5%;
    box-shadow: 5px 5px 5px var(--shad-color);
    padding: 5px;
}

.registrointerior .ingreso {
    background-color: var(--bkgd-campo-color);
}

.registrointerior .boton {
    background-color: var(--main-color);
}

.registrointerior .vista {
    width: 25%;
}

/*pagina contacto*/

.registrointerior .contacto{
    width: 100%;
    margin: 10px 0px;
    border: solid 2px;
    padding: 5px;
                        
}
.registrointerior label {
    font-weight: bolder;
    font-size: 20px;
}


@media (max-width: 599px) {
    .registrointerior .vista {
        display: none;
    }
    #registro .titulo{font-size: 2em;}
    .registrointerior .formulario{width: 100%;}
}



